{% extends "master.html.twig" %}

{% block content %}
    <!-- Signup -->
    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-9 col-lg-6">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            <h2 class="h2 g-color-black g-font-weight-600">Profile</h2>
                        </header>

                        {% if success %}
                            <p class="success">
                                Profile was saved!
                            </p>
                        {% endif %}

                        {{ form(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Signup -->

{% endblock %}